<!-- Left Sidebar -->

	<div class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
		<div class="ui-block">
			<div class="ui-block-title">
				<h6 class="title">プロフィール紹介</h6>
			</div>
			<div class="ui-block-content">
				<ul class="widget w-personal-info item-block">
					<li>
						<span class="title">私について:</span>
						<span class="text"><%= @user.intro %></span>
					</li>
				</ul>

				<div class="widget w-socials">
					<h6 class="title">他のSNS:</h6>
					<a href="#" class="social-item bg-facebook">
						<i class="fa fa-facebook" aria-hidden="true"></i>
						Facebook
					</a>
					<a href="#" class="social-item bg-twitter">
						<i class="fa fa-twitter" aria-hidden="true"></i>
						Twitter
					</a>
					<a href="#" class="social-item bg-dribbble">
						<i class="fa fa-dribbble" aria-hidden="true"></i>
						Dribbble
					</a>
				</div>
			</div>
		</div>
	</div>

<!-- ... end Left Sidebar -->