<%= render "users/header" %>

<div class="container">
    <div class="row">
        <%= render "users/main_content" %>
        <%= render "users/left_sidebar" %>
        <%= render "users/right_sidebar" %>
    </div>
</div>