<!-- Main Content -->

<main class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">

  <%= render "home/form" %>

  <div id="newsfeed-items-grid">
    <% @posts.each do |post| %>
      <%= render "home/post", post: post %>
    <% end %>
  </div>
  <%= paginate @posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</main>

<!-- ... end Main Content -->
