<!-- Main Content -->

<main class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">

  <%= render "home/form" %>

  <div id="newsfeed-items-grid">
    <% @posts.each do |post| %>
      <%= render "home/post", post: post %>
    <% end %>
  </div>


  <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>


</main>

<!-- ... end Main Content -->
