<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo">
  <div class="modal-dialog ui-block window-popup update-header-photo">
    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
      <svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
    </a>

    <div class="ui-block-title">
      <h6 class="title">Update Header Photo</h6>
    </div>

    <a href="#" class="upload-photo-item dropzone" id="image-upload" style="width: 100%" data-toggle="modal" data-target="#choose-from-my-photo">

    </a>
  </div>
</div>

