<div class="container">
  <div class="row">

  <%= render "home/main" %>


    <!-- Left Sidebar -->

    <aside class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">あなたが気に入るかもしれない投稿</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
        </div>

      
    </aside>

    <!-- ... end Left Sidebar -->


    <!-- Right Sidebar -->

    <aside class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">

      <div class="ui-block">
        <div class="widget w-birthday-alert">
          <div class="icons-block">
            <svg class="olymp-cupcake-icon"><use xlink:href="icons/icons.svg#olymp-cupcake-icon"></use></svg>
            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
          </div>

          <div class="content">
            <div class="author-thumb">
              <img src="<%= image_path "36x36.png" %>" alt="author">
            </div>
            <span>Today is</span>
            <a href="#" class="h4 title">Marina Valentine’s Birthday!</a>
            <p>Leave her a message with your best wishes on her profile page!</p>
          </div>
        </div>
      </div>


      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">友達かも？</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>

      <div class="ui-block">

        <div class="ui-block-title">
          <h6 class="title">最近のアクティビティ</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>

      <div class="ui-block">
        <div class="widget w-action">

          <img src="img/logo.png" alt="Olympus">
          <div class="content">
            <h4 class="title">OLYMPUS</h4>
            <span>一番素晴らしいSNSはここ!</span>
            <a href="01-LandingPage.html" class="btn btn-bg-secondary btn-md">今すぐ登録!</a>
          </div>
        </div>
      </div>

    </aside>

    <!-- ... end Right Sidebar -->

  </div>
</div>
