<div class="container">
  <div class="row">

  <%= render "home/main" %>


    <!-- Left Sidebar -->

    <aside class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">あなたが気に入るかもしれない投稿</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
        </div>

      
    </aside>

    <!-- ... end Left Sidebar -->


    <!-- Right Sidebar -->

    <aside class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">\
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">友達かも？</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>

      <div class="ui-block">

        <div class="ui-block-title">
          <h6 class="title">最近のアクティビティ</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
      </div>
      </div>

    </aside>

    <!-- ... end Right Sidebar -->

  </div>
</div>
