<div class="col-sm-12f">
  <div class="landing-content">
    <h1>フードメイトにようこそ!!</h1>
    <p>フードメイトはあなたが今、探しているレストランをみつけてくれます。
    </p>
    <p>ぜひ、あなたのお気に入りの店をみんなに教えよう！</p>
    <div><a href="<%= new_user_registration_path %>" class="btn btn-md btn-border c-white">今すぐ登録!</a>
      <a href="<%= new_user_session_path %>" class="btn btn-md btn-border c-white">今すぐログイン!</a></div>
  </div>
</div>
